{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/baabtra.css' %}">
    <link rel="stylesheet" href="/common/static/css/baabtra.css">
</head>
<body>
    <div class="main">
        <div class="bar">
            <img src="{% static 'images\icons8-facebook-64.png' %}" width="30px">
            <img src="{% static 'images/icons8-twitter-30.png' %}" alt="">
            <img src="{% static 'images/icons8-instagram-24.png' %}" alt="">
            <img src="{% static 'images/icons8-linkedin-30.png' %}" alt="">

            <h4>contact us  </h4>
            <img src="{% static 'images/icons8-phone-24.png' %}" alt="">
            <h3>093823628646</h3>

        </div>
        <nav>
            <div class="nav">
            <img src="{% static 'images/logo.webp' %}" class="logo" alt="">
            <ul>
                <li>INTERNSHIP PROGRAMS
                    <select >
                        <option value=""></option><option value="">Python traning</option>
                    <option value="">php traning</option><option value="">java</option>
                    </select>
                </li>
                <li>PLACEMENTS</li>
                <LI>ABOUT US</LI>
                <LI>BLOG</LI>
                <LI>LOGIN</LI>
                <li><button class="btn">ENQUIRE NOW</button></li>
            </ul>
        </nav></div>
    </div><br>

    <div class="content">
        <img src="{% static 'images/oray_logo.webp' %}" class="oray">
        <p>
            we are affiliated with oray london,uk
        </p>
        
        <div class="in">
            <h3>GETTING A SOFTWARE JOB IS SO EASY WITH OUR INTERNSHIP PROGRAM</h3><br>
            <span class="p">Learn programming from the most trusted software training company in Calicut with highest <br> placement record. Enroll for software courses and internship programs in Python,PHP, Angular or flutter  to start your career.</span>

        </div>

        <div class="logos">
        <img src="/common/static/images/python.webp" class="img" alt="python">
        
        <img src="/common/static/images/php.webp" class="img" alt="php">
        
        <img src="/common/static/images/angular.webp" class="img" alt="angular">
       
        <img src="/common/static/images/flutter.webp" class="img" alt="flutter">
        <img src="/common/static/images/javascript.webp" class="img" alt="javascript">
        <ul>
            <li>python</li>
            <li> php</li>
            <li>angular</li>
            <li>flutter</li>
            <li>javascript</li>
        </ul><br><br><br><br><br>
        <h1 style="font-size: 40px;">Explore Our internship programme</h1>

        <span class="txt">baabtra.com offers you courses and training programs that will enable you to master programming in depth. Enroll and start learning with the experts in the industry. We offer PHP Training with Laravel Framework, Python Training with Django Framework, Angular Training and Node.js Training.</span>
        
        
    </div>
    <!-- how it works -->
    <div class="how">
        <img src="/common/static/images/voting_app_concept-750x422.jpg" alt="">

        <div>
            <h2>How it Works </h2>
            <img src="/common/static/images/icons8-people-24.png" alt="" >
            <span class="join"><b>Join Us</b> <br><br>
                It doesn't matter how talented you are. Join specialized job oriented <br> software courses & training programs and just learn the in-demand <br> skills to be a better programmer</span>

                <img src="/common/static/images/icons8-people-24.png" alt="" >
            <span class="join"><b>Join Us</b> <br><br>
                It doesn't matter how talented you are. Join specialized job oriented <br> software courses & training programs and just learn the in-demand <br> skills to be a better programmer</span>
        </div>
        
    </div>
        

    </div>

    
</body>
</html>