<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>master page</title>
    

    
</head>
<body><div class="one">
    <nav>
        <ul class="ule">
            <li>HOME</li>
            <li>ORDER DETAILS</li>
            <li>PROFILE</li>
            <li>SETTINGS</li>
        </ul>
    </nav></div>

    <div class="second">
        <nav>
            <ul class="uli" >
                <li>HOME</li>
                <li>ORDER DETAILS</li>
                <li>PROFILE</li>
                <li>SETTINGS</li>
            </ul>
        </nav>
        
    </div>
    
    
</body>
</html>