{% extends "ecommerce/master.html" %}
{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>master page</title>
    <link rel="stylesheet" href="/common/templates/common/master.css">

    <style>
        .one{
            width: 100%;
            color: gray;
            border: 2px solid black;
            height: 50px;
            
            
        }
        .one , li{
            list-style: none;
            display: inline-block;

            padding: 0px 12px;
            
            
        }
        ul{
            position: absolute;
            left: 900px;
        }
    </style>
</head>
<body><div class="one">
    <nav>
        <ul>
            <li>HOME</li>
            <li>ORDER DETAILS</li>
            <li>PROFILE</li>
            <li>SETTINGS</li>
        </ul>
    </nav></div>

    
    
    
</body>
</html>