{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'D:\web dev\ecom\ecommerce\common\static\bootstrap\css\bootstrap.min.css' %}">
</head>
<body>
    <br>
    <a href="adminlogin">admin_login</a><br>
    <a href="cuslogin">cus_login</a><br>
    <a href="resellerlogin">reseller_login</a><br>
    <a href="javascript">javascript</a><br>
    <a href="calculator">calculator</a><br>
    <a href="grid">grid</a><br>
    <a href="jquery">Jquery</a><br>
    <a href="master">master page</a><br>
    <a href="testing">testing page</a><br>


    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>  <br>

<table class="table table-striped table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col" class="table-warning">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" id="center">
  <img src="{% static 'images/voting_app_concept-750x422.jpg' %}" class="rounded " alt="">
    </div>  
  
    <h1 class="h">hello</h1>
    
    
</body>
</html>