{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing pages</title>
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
</head>
<body>
    <div class="keys">
        <div data-type="65" class="key">
            <kbd>A</kbd>
            <span class="sound">Clap</span>
        </div>
        <div data-type="83" class="key">
            <kbd>S</kbd>
            <span class="sound">hihat</span>
        </div>
        <div data-type="68" class="key">
            <kbd>D</kbd>
            <span class="sound">Kick</span>
        </div>
        <div data-type="70" class="key">
            <kbd>F</kbd>
            <span class="sound">Openhat</span>
        </div>
        <div data-type="71" class="key">
            <kbd>G</kbd>
            <span class="sound">Boom</span>
        </div>
        <div data-type="72" class="key">
            <kbd>H</kbd>
            <span class="sound">Clap</span>
        </div>
        <div data-type="74" class="key">
            <kbd>J</kbd>
            <span class="sound">Clap</span>
        </div>
        <div data-type="75" class="key">
            <kbd>K</kbd>
            <span class="sound">Clap</span>
        </div>
        <div data-type="76" class="key">
            <kbd>L</kbd>
            <span class="sound">Clap</span>
        </div>

    </div>
</body>
</html>