.one{
   
   height: 100px;
   background-color: rgb(77, 89, 21);
    border-radius: 22px 0 0 0;
}
.one ul{
    list-style: none;
    margin-left: 60rem;
    
}
.one li{
    float: left;
    padding: 20px;
    color: white;
    margin-top: 25px;
}

.two{
    
    width: 160px;
    height: 100vh;
    background-color: rgb(77, 89, 21);


}
.two ul{
    list-style: none;
    margin-top: 10rem;
    position: absolute;
    left: -28px;
}

.two li{
    padding: 20px;
    color: white;
}
